body {
    background-color: #1abc9c;
    color: white;
    font-family: Arial;
    position: absolute; 
    margin: 0 auto;
    padding: 20px;
}

.popup {
    background-color: white;
    color: black;
    position: fixed;
    width: 250px;
    top: 40%;
    left: 40%;
    padding: 10px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

.highlighted {
    font-size: 10px;
}

